<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobile.app.ayotaklim">

    <uses-sdk
        android:maxSdkVersion="29" />


    <permission
        android:name="mobile.app.ayotaklim.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application

        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_menu_masjid"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_menu_masjid"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.splashscreen.SplashscreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.event.EventDetailActivity"
            android:label="Event Detail" />
        <activity
            android:name=".activity.MapsActivity"
            android:label="Event Detail" />
        <activity
            android:name=".MainActivity"
            android:label="Event Detail" />
        <activity
            android:name=".activity.event.RegisterEventActivity"
            android:label="Register Event"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.venue.VenueDetailActivity"
            android:label="Venue Detail" />
        <activity
            android:name=".activity.performer.PerformerDetailActivity"
            android:label="Venue Detail" />
        <activity
            android:name=".activity.event.EventListActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.venue.VenueListActivity"
            android:label="@string/title_activity_event"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.performer.PerformerListActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.reminder.ReminderListActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.event.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.event.EventJadwalActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.event.DonasiActivity"
            android:label="@string/title_activity_donasi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.admin.AdminLoginActivity"
            android:label="@string/title_activity_admin_login"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.admin.AddVenueActivity" />
        <activity android:name=".activity.admin.AddDonasiActivity" />
        <activity android:name=".activity.admin.AddPerformerActivity" />
        <activity android:name=".activity.admin.AddEventActivity" />
        <activity android:name=".activity.admin.ListSearchVenueActivity" />
        <activity android:name=".activity.admin.AddJadwalEventActivity" />
        <activity android:name=".activity.admin.ListSearchPerformerActivity"></activity>

        <!--  Declare  Alarm Broadcast receiver here  -->
        <receiver android:name=".services.reminder.AlarmReceiver" />

        <!--  Declare  Alarm Notification Service here  -->
        <service android:name=".services.reminder.AlarmNotificationService" />

        <!--  Declare  Alarm Sound Service here  -->
        <service android:name=".services.reminder.AlarmSoundService" />
    </application>

</manifest>